<% if user_signed_in? %>
  <h1><%= t(".hello", name: current_user.first_name) %>!</h1>


  <% if current_user.is_customer %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t("new_order") %></th>
          <th scope="col"><%= link_to t("new_order"), new_order_path, class: "btn btn-primary"%></br>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><%= t(".show_orders") %></th>
          <td><%= link_to t("show_your_orders"), orders_path, class: "btn btn-primary" %></br>
          </td>
        </tr>
      </tbody>
    </table>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t(".create") %></th>
          <th scope="col"><%= link_to t("new_order"), new_order_path, class: "btn btn-primary"%></br>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><%= t(".show_orders") %></th>
          <td><%= link_to t("show_orders_button"), orders_path, class: "btn btn-primary" %></br>
          </td>
        </tr>
        <tr>
          <th scope="row"><%= t(".show_customers") %></th>
          <td><%= link_to t("show_customers_button"), customers_path, class: "btn btn-primary" %></br>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>  
<% else %>
  <h1><%= t(".welcome") %></h1>
  <p><%= t(".please") %></p>


<% end %>


