<%= form_with(model: @order, url: orders_path, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :customer_id, 'Customer ID' %>
    <%= form.text_field :customer_id, class: 'form-control', required: false %>
  </div>

  <div class="form-group">
    <%= form.label :processor_id, 'Processor ID' %>
    <%= form.text_field :processor_id, class: 'form-control', required: true %>
  </div>

  <div class="form-group"> 
    <%= form.label :order_number, 'Order Number' %>
    <%= form.text_field :order_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :start_date, 'Start Date' %>
    <%= form.datetime_local_field :start_date, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :end_date, 'End Date' %>
    <%= form.datetime_local_field :end_date, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :prize, 'Prize' %>
    <%= form.number_field :prize, step: '0.01', class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :currency, 'Currency' %>
    <%= form.text_field :currency, class: 'form-control', required: true %>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>