<div class="row">
  <div class="col-4">
    <strong><%= t("order_number") %>:</strong>
  </div>
  <div class="col-8">
    <%= order.order_number %>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <strong><%= t("start_date") %>:</strong>
  </div>
  <div class="col-8">
    <%= order.start_date %>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <strong><%= t("end_date") %>:</strong>
  </div>
  <div class="col-8">
    <%= order.end_date %>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <strong><%= t("prize") %>:</strong>
  </div>
  <div class="col-8">
    <%= order.prize %>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <strong><%= t("currency") %>:</strong>
  </div>
  <div class="col-8">
    <%= order.currency %>
  </div> 
</div>