<div class="container">
<h1>Orders</h1>
  <%= render "layouts/flash" %> 




  <%= link_to "show modal", new_order_path,
              data: { turbo_frame: 'newordermodal', turbo: 'true', toggle: "modal", target: "#newordermodal" },
              class: "btn btn-primary" %>


  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newordermodal" data-turbo-frame="newordermodal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="newordermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "newordermodal" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



  <% @orders.each do |order| %>
    <div class="card mb-3", id="orderstable">
      <div class="card-body">
        <h5 class="card-title"><%= link_to "Order Number #{ order.order_number }", order_path(order) %></h5>
        <p class="card-text">Prize: <%= order.prize %></p>
        <p class="card-text">Currency: <%= order.currency %></p>
        <p class="card-text">Start Date: <%= order.start_date %></p>
        <p class="card-text">End Date: <%= order.end_date %></p>
        <div class="d-flex justify-content-start">
        <%= link_to "Update", edit_order_path(order), class: "btn btn-primary mr-2" %>
        <%= button_to "Delete", order_path(order, redirect_to: orders_path), class: "btn btn-danger", method: :delete, data: { confirm: "are you sure?", turbo: "false" } %>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to "Add Order", new_order_path, class: "btn btn-primary" %>
</div>




