<div class="container col-8">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Order Details</h1>
      <%= render "layouts/flash" %>
      <div class="row">
        <div class="col-4">
          <strong>Order Number:</strong>
        </div>
        <div class="col-8">
          <%= @order.order_number %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <strong>Start Date:</strong>
        </div>
        <div class="col-8">
          <%= @order.start_date %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <strong>End Date:</strong>
        </div>
        <div class="col-8">
          <%= @order.end_date %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <strong>Prize:</strong>
        </div>
        <div class="col-8">
          <%= @order.prize %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <strong>Currency:</strong>
        </div>
        <div class="col-8">
          <%= @order.currency %>
        </div> 
        <div class="d-flex justify-content-end">
        <%= link_to "Edit", edit_order_path(@order), class: "btn btn-primary mr-2" %>
        <%= button_to "Delete", order_path(@order), class: "btn btn-danger", method: :delete, data: { turbo: "false" } %>
        </div>
      </div>
    </div>
  </div>
</div>

