<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar", id="sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <%= link_to "Homepage", root_path %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <%= link_to "Orders", orders_path %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <%= link_to "Customers", customers_path %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >
            <%= link_to "Processors", processors_path %>
          </a>
        </li>
        <hr class="my-3">
        <li class="nav-item">
          <a class="nav-link">
          <% if signed_in? %>
            <%= link_to current_user.email, edit_user_registration_path %>
              <button type="button" class="btn btn-primary custom-button">
                <%= link_to "Log out", destroy_user_session_path, class: "custom-button", method: :delete, data: { turbo: "false" } %>
              </button>
          <% else %>
              <%= link_to "Log in", new_user_session_path %>
              <%= link_to "Register", new_user_registration_path %>
            <% end %>
          </a>
        </li>
      </ul>
    </div>
  </nav>


