<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar", id="sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column ml-2">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            
          </a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link">
            <%= link_to "Homepage", root_path, class: "btn btn-secondary" %>
          </a>
        </li>
        <% if !current_user.is_customer %>
          <li class="nav-item">
            <a class="nav-link">
              <%= link_to "Orders", orders_path, class: "btn btn-secondary" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <%= link_to "Customers", customers_path, class: "btn btn-secondary" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >
              <%= link_to "Processors", processors_path, class: "btn btn-secondary" %>
            </a>
          </li>
        <% end %>
        <hr class="my-3">
        <li class="nav-item">
          <a class="nav-link">
          <% if signed_in? %>
            <%= link_to current_user.email, edit_user_registration_path %>
                <%= button_to "Log out", destroy_user_session_path, class: "btn btn-primary", method: :delete, data: { turbo: "false" } %>
          <% else %>
              <%= link_to "Log in", new_user_session_path %>
              <%= link_to "Register", new_user_registration_path %>
            <% end %>
          </a>
        </li>
      </ul>
    </div>
  </nav>


